<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Blackjack</title>
    <link rel="stylesheet" href="css.css">
  </head>
  <body>

  <%= yield %>

  <script type="text/javascript" src="js.js"></script>
  </body>
</html>
