<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Blackjack</title>
    <link rel="stylesheet" href="css.css">
  </head>
  <body>

    <%= yield %>

    <script type="text/javascript">
      var balance = document.getElementById("wallet_balance").innerText;
      var betValue = document.new_bet.bet.value;

      console.log(betValue > 0);
      console.log(betValue <= balance)

      function validateInitialBet() {
        if (document.homepage_form.initial_bet.value > 0 &&
          document.homepage_form.initial_bet.value < 1001 ) {
          return true;
        } else {
          document.getElementById("homepage_initial_bet").innerHTML = "*Must be between 0 and 1000";
          return false;
        }
      };

      function validateBet() {
        var balance = document.getElementById("wallet_balance").innerText;
        var betValue = document.new_bet.bet.value;
        if (betValue > 0 && betValue <= balance) {
          document.getElementById("new_bet_warning").innderHTML = "";
          return true;
        } else {
          document.getElementById("new_bet_warning").innerHTML = "*Must be between 0 and " + balance;
          return false;
        };
        console.log(balance);
        console.log(betValue);
      }
    </script>
  </body>
</html>
