body {
  font-family: "Rockwell Extra Bold", "Rockwell Bold", monospace;
  /*font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans serif;*/
  background:#577A3A url("/images/pool_table.png") repeat;

  color: #FFF;
  text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
  letter-spacing:1px
}

img {
  -webkit-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.home_wrapper {
  display: block;
  width: 55%;
  margin: 15% auto 0 auto;
  text-align: center;
}

.home_wrapper h1 {
  transform:rotate(0deg);
  -ms-transform:rotate(0deg); /* IE 9 */
  -webkit-transform:rotate(0deg); /* Opera, Chrome, and Safari */
  font-size: 4.7em;
  margin: -55px 0 15px 0;
  -webkit-text-stroke: 1px #FFCC33;
   color: white;
   text-shadow:
       5px 5px 0 #000,
     -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}

.home_wrapper img.left {
  z-index: 1;
  margin:0 -35px 0 0;
  transform:rotate(-7deg);
  -ms-transform:rotate(-7deg); /* IE 9 */
  -webkit-transform:rotate(-7deg); /* Opera, Chrome, and Safari */
}

.home_wrapper img.right {
  z-index: 1;
  margin:0 0 0 -35px;
  transform:rotate(7deg);
  -ms-transform:rotate(7deg); /* IE 9 */
  -webkit-transform:rotate(7deg); /* Opera, Chrome, and Safari */
}

.home_wrapper a {
  color: #FFCC33;
  text-decoration: none;
}

.game_wrapper {
  margin: 6% 0 0 6%;
  font-size: 1em;
}

.game_wrapper h3 {
  -webkit-text-stroke: 1px #FFCC33;
  font-size: 2.5em;
  margin: 20px 0 0 0;
  padding: 0;
  display:inline;
}

.game_wrapper img {
  height: 220px;
  width: 152px;
  margin: 0 5px 0 0;
}

span.subtitle {
  font-size: 1.2em;
}

form {
  display: inline-block;
}

button {
  margin: 10px 0 0 0;
  border-top: 2px solid #FFCC33;
  border-left: 2px solid #FFCC33;
  border-right: 2px solid #FF9900;
  border-bottom: 2px solid #FF9900;
  padding: 12px 22px !important;
  font-size: 14px !important;
  background-color: #003300;
  font-weight: bold;
  color: #FFFFFF;
}

button:hover {
  background-color: #005500;
}
